{% extends "base.html" %}

{% block nav %}
						<li >
							 <a href="/">主页</a>
						</li>
						<li class="active">
							 <a href="/host">资产管理</a>
						</li>
						<li >
							 <a href="/ansible">ansible模块</a>
						</li>
						<li >
							 <a href="/code">上线管理</a>
						</li>
						{% endblock %}


{% block content %}
<div class="row clearfix">

				<div class="col-md-12 column" >
					<div class="panel panel-info ">
					  <div  class=" panel-heading">
					    <h3 class="panel-title ">主机列表</h3>
					  </div>
 						<!-- 表头按钮 -->
						<div class="btn-group">
							<button class="btn btn-default" id="get-add">
						        新增
						    </button>
						    <button class="btn btn-default" id="get-selections">
						        获取选择数据
						    </button>
						    <button class="btn btn-default" data-trigger="hover" id="remove-data" role="button" data-toggle="tooltip" data-placement="right" title="Warning!Warning!Warning!"  data-content="批量删除数据,不可恢复">
						        批量删除
						    </button>
						    <button class="btn btn-default" id="get-exec">
						        批量执行
						    </button>

						</div>

						<table  id="table-methods-table"  data-toggle="table" data-url="{% url 'gethost' %}" data-height="350" data-sort-name="created"   data-search="true" data-pagination="true" data-page-list="[5, 10, 20, 50, 100, 200]"  data-sort-order="desc">
							    <thead>
							        <tr>
							        	<th data-field="state" data-checkbox="true"></th>
							            <th data-field="ip" data-align="left" data-sortable="true" >IP</th>
							            <th data-field="user" data-align="left" data-sortable="true">用户</th>
							            <th data-field="group" data-align="left" data-sortable="true">群组</th>
							            <th data-field="describe" data-align="left" data-sortable="true">描述</th>
							            <th data-field="created" data-align="left" data-sortable="true">创建时间</th>
							            
							            <th data-field="operate" data-formatter="operateFormatter" data-events="operateEvents">操作</th>
							        </tr>
							    </thead>
							</table>




					  </div>
					</div>

					<!-- 对话框  -->
								<div class="modal fade" id="delhost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								  <div class="modal-dialog">
								    <div class="modal-content">
								      <div class="modal-header">
								        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
								        <h4 class="modal-title" id="myModalLabel">警告,删除不可恢复</h4>
								      </div>
								      <div class="modal-body">
								        <p id="dialogtest"></p>
								        <p id="delinfo"  style="color:#FF0000"></p>
								      </div>
								      <div class="modal-footer">
								        <button type="button" class="btn btn-info" data-dismiss="modal">关闭</button>
								        <button id="delOK" type="button" class="btn btn-danger" >确定</button>
								        
								      </div>

								    </div>
								  </div>
								</div>
						<!-- 对话框 -->
						<!-- 对话框 执行模块-->
								<div class="modal fade" id="execmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								  <div class="modal-dialog">
								    <div class="modal-content">
								      <div class="modal-header">
								        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
								        <h4 class="modal-title">批量执行模块</h4>
								      </div>
								      <div class="modal-body">
								        <p id="execip">没有选择主机</p>

								        <div class="row">
										  <div class="col-md-4">
											<select id="selectmode" class=" form-control">
											  <option>ansible-shell</option>
											  <option>ansible-playbook</option>
											</select>
										  </div>
										  <div class="col-md-8">
										  	<input id="cmd" type="text" class="form-control" placeholder="输入命令 or 模块ID">
										  </div>
										</div>
								        
								      </div>
								      <div class="modal-footer">
								        <button type="button" class="btn btn-info" data-dismiss="modal">关闭</button>
								        <button id="execbutton" type="button" class="btn btn-danger" >确定</button>
								        
								      </div>

								    </div>
								  </div>
								</div>
						<!-- 对话框 -->
						<!-- 对话框 增加主机 -->
								<div class="modal fade" id="addHost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								  <div class="modal-dialog">
								    <div class="modal-content">
								      <div class="modal-header">
								        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
								        <h4 class="modal-title" id="AddModalLabel">增加主机</h4>
								      </div>
								      <div class="modal-body">

								        <form id="addHostForm" class="form-horizontal" role="form" method="post" action="/addhost/">
								        		{% csrf_token %}
  											  <div class="form-group">
											    <label  class="col-sm-2 control-label">IP</label>
											    <div class="col-sm-8">
											      <input type="text" class="form-control" id="ip" name="ip" placeholder="IP 地址">
											    </div>
											  </div>
											  <div class="form-group">
											    <label  class="col-sm-2 control-label">User</label>
											    <div class="col-sm-8">
											      <input type="text" class="form-control" id="user" name="user" placeholder="用户">
											    </div>
											  </div>
											  <div class="form-group">
											    <label  class="col-sm-2 control-label">Password</label>
											    <div class="col-sm-8">
											      <input type="password" class="form-control" id="password" name="password" placeholder="密码">
											    </div>
											  </div>
											  <div class="form-group">
											    <label  class="col-sm-2 control-label">描述</label>
											    <div class="col-sm-8">
											      <textarea id="describe" class="form-control" rows="3" name="describe" ></textarea>
											    </div>
											  </div>
											  <div class="form-group">
											  	<label  class="col-sm-2 control-label">群组</label>
											    <div class="col-sm-10">

													<!-- <label class="checkbox-inline">
													  <input name="check1" type="checkbox" id="inlineCheckbox1" value="default" disabled checked> default
													</label> -->
											    	{% for group in groups %}
											    	
											        <label class="checkbox-inline">
													  <input name="group_{{group.name}}" type="checkbox" id="group_{{group.name}}" value="True"> {{group.name}}
													</label>
												
												    {% endfor %}
											    </div>
											  </div>
											  <div class="form-group">
											    <div class="col-sm-offset-2 col-sm-4">
											      <button id="submitAdd" type="button"  class="btn btn-primary">提交</button> <!-- type="submit" -->
											      <button type="button" class="btn btn-info" data-dismiss="modal">关闭</button>
											    </div>
											    <div class="col-sm-6">
											      <p id="info" style="color:#FF0000"></p>
											    </div>
											  </div>
											</form>

								      </div>

								    </div>
								  </div>
								</div>
						<!-- 对话框 -->

					
				</div>
							<script>
									$(function ()
										{ $("#remove-data").popover();
										});

								    function operateFormatter(value, row, index) {
								        return [

								            '<a class="edit ml10" href="javascript:void(0)" title="Edit">',
								                '<i class="glyphicon glyphicon-edit"></i>',
								            '</a>',
								            '<a class="remove ml10" href="javascript:void(0)" title="Remove">   ',
								                '<i class="glyphicon glyphicon-remove"></i>',
								            '</a>',
								            '<a class="detailed ml10" href="javascript:void(0)" title="Remove">',
								                '详细',
								            '</a>'
								        ].join('');
								    }

								    window.operateEvents = {
	
								        'click .edit': function (e, value, row, index) {
								        	console.log(value, row.describe, index);
								        	$("#addHostForm")[0].reset(); 
								        	$("#AddModalLabel").html("更新主机");
								        	$("#ip").attr("value",row.ip);
								        	$("#user").attr("value",row.user);
								        	$("#password").attr("value","");
								        	var group = row.group.split(",");
								        	for(id in group){
								        		
								        		
								        		$("#group_"+group[id]).attr("checked","checked");
								        	};
								        	
								        	$("#describe").html(row.describe);
								        	$("#addHostForm").attr("action","{% url 'uphost' %}");
								        	$("#info").html("");
								        	$("#addHost").removeData();
								        	$("#addHost").modal();
								            // alert('You click edit icon, row: ' + JSON.stringify(row));
								            
								        },
								        'click .detailed': function (e, value, row, index) {
								            alert('You click detailed: ' + JSON.stringify(row));
								            
								        },
								        'click .remove': function (e, value, row, index) {
								        	
								        	// $("#delOK").attr("onclick","dodel(\""+row.ip+"\")");
								        	// $("#delhost").modal();

								        	$("#delinfo").html("");
							                $("#dialogtest").html("<h1>主机:"+row.ip+'</h1>');
							              							                
							                $("#delOK").attr("onclick","hostremove(\""+row.ip+"\")");
							                $("#delhost").modal();
								            // alert('确定删除 ' + JSON.stringify(row));
								            // $table = $('#table-methods-table').bootstrapTable()
								            // $table.bootstrapTable('remove', {
									           //          field: 'id',
									           //          values: [row.id,]
									           //      });
								            // console.log(row);
								        }
								    };

								    // 表头按钮 事件
								    $(function () {
									        
									            // $(this).hide();

									            var id = 0,
									                getRows = function () {
									                    var rows = [];

									                    // for (var i = 0; i < 10; i++) {
									                    //     rows.push({
									                    //         id: id,
									                    //         name: 'test' + id,
									                    //         price: '$' + id
									                    //     });
									                    //     id++;
									                    // }
									                    // console.log(rows);
									                    // return [];
									                    // return rows;

									                },
									                // init table use data
									                $table = $('#table-methods-table').bootstrapTable({
									                    data: getRows()
									                });
									                

									            $('#get-selections').click(function () {
									                alert('Selected values: ' + JSON.stringify($table.bootstrapTable('getSelections')));
									            });
									            //执行
									            $('#get-exec').click(function () {
									                // alert('Selected values: ' + JSON.stringify($table.bootstrapTable('getSelections')));
									                var selects = $table.bootstrapTable('getSelections');
									                    ips = $.map(selects, function (row) {
									                        return row.ip;
									                    });
									                    // alert(ips.join(","));
									                    $("#execip").html(ips.join("<br/>"));
									                    $("#execmodal").modal();
									            });
									            // 新增 
									            $('#get-add').click(function () {
									            	
										        	$("#info").html("");
										        	$("#AddModalLabel").html("增加主机");
										        	$("#addHostForm").attr("action","{% url 'addhost' %}");
										        	$("#addHost").modal();

									            });
									            $('#get-data').click(function () {
									                alert('current data: ' + JSON.stringify($table.bootstrapTable('getData')));
									            });
									            // This demonstrates utilizing the data-method attribute to use one 
									            //     jQuery handler to execute multiple methods. 
									            // ($this).data('method') retrieves the value of the data-method 
									            //     attribute of the object that was clicked which is then passed to 
									            //     the bootstrapTable function. 
									            // Only the load and append methods require a parameter                                 
									            $('#load-data, #append-data, #check-all, #uncheck-all, ' +
									                    '#show-loading, #hide-loading').click(function () {
									                $table.bootstrapTable($(this).data('method'), getRows());
									            });
									            $('#refresh').click(function () {
									                $table.bootstrapTable('refresh', {
									                    url: 'data1.json'
									                });
									            });
									            $('#remove-data').click(function () {
									                var selects = $table.bootstrapTable('getSelections');
									                    ips = $.map(selects, function (row) {
									                        return row.ip;
									                    });

									                // $table.bootstrapTable('remove', {
									                //     field: 'ip',
									                //     values: ips
									                // });
									               	$("#delinfo").html("");
									                
									                if(ips.length==0){
									                	$("#dialogtest").html("没有选择主机");
									                }
									                else{
									                	$("#dialogtest").html(ips.join("<br/>"));
									                	$("#delOK").attr("onclick","delselect()");
									                };
									                
									                
									                
									                $("#delhost").modal();

									            });
									            $('#update-row').click(function () {
									                $table.bootstrapTable('updateRow', {
									                    index: 1,
									                    row: {
									                        name: 'test111111',
									                        price: '$111111'
									                    }
									                });
									            });
									            $('#merge-cells').click(function () {
									                $table.bootstrapTable('mergeCells', {
									                    index: 1,
									                    field: 'name',
									                    colspan: 2,
									                    rowspan: 3
									                })
									            });
									            $('#show-column, #hide-column').click(function () {
									                $table.bootstrapTable($(this).data('method'), 'id');
									            });
									        
									    });
								
									function getCookie(name) {
								             var cookieValue = null;
								             if (document.cookie && document.cookie != '') {
								                 var cookies = document.cookie.split(';');
								                 for (var i = 0; i < cookies.length; i++) {
								                     var cookie = jQuery.trim(cookies[i]);
								                     // Does this cookie string begin with the name we want?
								                 if (cookie.substring(0, name.length + 1) == (name + '=')) {
								                     cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
								                     break;
								                 }
								             }
								         }
								         return cookieValue;
								         };




									function hostremove(ip){

									    var ipsObj = {csrfmiddlewaretoken:getCookie("csrftoken"),hosts:[ip]};
									    
									    $("#delOK").html("运行中");
									    $("#delOK").attr("disabled","disabled");
									    
									    
										$.ajax({
									 		type: "POST",
									 		url: '/delhost/',
									 		dataType: 'json',
									 		data: ipsObj,
									 		success: function(data){
									 			
												
									 			
									 			
									 			if(data.results == "error"){
									 				
									 				$("#delinfo").html("错误:"+data.info+'<br/>请仔细检查');

									 			};
									 			if(data.results == "success"){
									 				
									 				$table = $('#table-methods-table').bootstrapTable();
								            		$table.bootstrapTable('remove', {
									                    field: 'ip',
									                    values: [ip,]
									                });
								           			
									 				$("#delhost").modal('hide');
									 				

									 			};
									 		}
									 	});
									 	
									 	$("#delOK").html("确定");
									 	$("#delOK").removeAttr("disabled");	

									}

									function delselect(){

										$table = $('#table-methods-table').bootstrapTable();
										var selects = $table.bootstrapTable('getSelections');
									                    ips = $.map(selects, function (row) {
									                        return row.ip;
									                    });


									    var ipsObj = {csrfmiddlewaretoken:getCookie("csrftoken"),hosts:ips};
									    
									    $("#delOK").html("运行中");
									    $("#delOK").attr("disabled","disabled");
									    
									    
										$.ajax({
									 		type: "POST",
									 		url: '/delhost/',
									 		dataType: 'json',
									 		data: ipsObj,
									 		success: function(data){
									 			
												
									 			
									 			
									 			if(data.results == "error"){
									 				
									 				$("#delinfo").html("错误:"+data.info+'<br/>请仔细检查');

									 			};
									 			if(data.results == "success"){
									 				
									 				$table = $('#table-methods-table').bootstrapTable();
									                $table.bootstrapTable('refresh', {
									                    
									                });
									                $table.bootstrapTable('remove', {
									                    field: 'ip',
									                    values: ips
									                });
									 				$("#delhost").modal('hide');
									 				

									 			};
									 		}
									 	});
									 	
									 	$("#delOK").html("确定");
									 	$("#delOK").removeAttr("disabled");				                
									    
									};

									 $("#submitAdd").click(function(){
									 	console.log("running");
									 	$("#submitAdd").html("运行中");
									 	$("#submitAdd").attr("disabled","disabled");
									 	path=$("#addHostForm").attr("action");

									 	$.ajax({
									 		type: "POST",
									 		async: false,
									 		url: path,
									 		dataType: 'json',
									 		data: $(addHostForm).serializeArray(),
									 		success: function(data){

									 			if(data.results == "error"){
									 				swal("错误", data.info, "error");
									 				// $("#info").html("错误:"+data.info+'<br/>请仔细检查');

									 			};
									 			if(data.results == "success"){
									 				$table = $('#table-methods-table').bootstrapTable();
									                $table.bootstrapTable('refresh', {
									                    
									                });

									 				$("#addHost").modal('hide');
									 				swal("执行成功", "我嘞个擦!服务器君还是很给力的", "success");


									 			};
									 		}
									 	});
									 	$("#submitAdd").html("确定");
									 	$("#submitAdd").removeAttr("disabled");
									 });

									//模块执行
									$("#execbutton").click(function(){
										var m = $("#selectmode  option:selected").text();
									 	

									 	$table = $('#table-methods-table').bootstrapTable();
									 	var selects = $table.bootstrapTable('getSelections');
									                    ips = $.map(selects, function (row) {
									                        return row.ip;
									                    });
									 	var postData={
									 		csrfmiddlewaretoken:getCookie("csrftoken"),
									 		ip:ips,
									 		module:m,
									 		cmd:$("#cmd").val()
									 	};
									 	console.log(postData);
									 	$("#execbutton").html("执行中...");
									 	$("#execbutton").attr("disabled","disabled");
									 	$.ajax({
									 		
									 		type: "POST",
									 		async: false,
									 		url: "{% url 'addtask' %}",
									 		dataType: 'json',
									 		data: postData,
									 		success: function(data){

									 			if(data.results == "error"){
									 				swal("错误", data.info, "error");
									 				// alert("eee");
									 				

									 			};
									 			if(data.results == "success"){

									 				$("#execmodal").modal("hide");
									 				swal("任务添加成功", "我嘞个擦!服务器君还是很给力的!可以前往主页查看任务状态", "success");
									 				

									 			};
									 		}
									 	});

									 	$("#execbutton").html("确定");
									 	$("#execbutton").removeAttr("disabled");

									 	


									 	
									 	
									 	
									 });
								// $(function(){

								// 	var test=$("#table-methods-table tr:eq(1) td:nth-child(1)").html();  
								// 	console.log(test);

								// });
								
								</script>
			
{% endblock %}